@font-face 
{
	font-family: 'inconsolata';
	src: url('../fonts/woff/inconsolata.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body 
{
	!background: #1b1c1e linear-gradient(#7d8fa3, #2b2c2e);
	!background: black;
	padding:0;
	margin:0;
	font-family: inconsolata, Verdana, Geneva, sans-serif;
	font-weight: normal;
	overflow:hidden;
}
